span {
  color: #6c79c4;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.players {
  display: flex;
  gap: 16px;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
